.ExtendedBlock {
    color: #edf0f1;
}

.ExtendedBlock .back-button {
    color: #cdd1c4;
    cursor: pointer;
    font-size: 32px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
    width: 100%;
}

.ExtendedBlock .hourly-blocks {
    display: flex;
    overflow-x: auto;
    margin-top: 20px;
}