.Map {
    height: 55vh;
    display: flex;
}

.mapboxgl-ctrl-attrib-inner, .mapboxgl-ctrl-attrib-inner a, .mapboxgl-ctrl-bottom-right, .mapboxgl-ctrl .mapboxgl-ctrl-attrib {
    background-color: transparent;
}

.mapboxgl-ctrl-bottom-left, .mapboxgl-ctrl, .mapboxgl-ctrl-logo {
    background-color: transparent;
}

.map-container {
    height: inherit;
    width: 65%;
}

.side-container {
    width: 35%;
    padding: 0px 15px;
    overflow-y: auto;
}

.hide {
    display: none;
}

@media only screen and (max-width: 600px) {
    .Map {
        display: block;
    }
    .map-container {
        width: 100%;
    }
    .side-container {
        margin-top: 10px;
        width: 100%;
    }
}